.match-container {
  background: #008037;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: 0 auto;
  overflow-y: auto;
  max-height: 90vh;
}

.match-header {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.match-teams {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #00a84f;
  padding: 15px;
  border-radius: 10px;
}

.team {
  text-align: center;
}

.team-logo {
  width: 80px;
  height: 80px;
}

.match-details {
  background: #00662e;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.prize {
  font-size: 20px;
  font-weight: bold;
  color: #aaff00;
}

.watch-live {
  display: flex;
  align-items: center;
  gap: 10px;
}

.watch-link {
  text-decoration: none;
  font-size: 20px;
  border-radius: 100px;
  background-color: rgb(12, 207, 129);
  color: black;
}
.lineups {
  margin-top: 20px;
  background: #005526;
  padding: 15px;
  border-radius: 10px;
}

h2 {
  margin-right: 100vh;
  color: yellow;
}

h3 {
  color: rgb(12, 207, 129);
}

.team-lineup {
  margin-bottom: 20px;
}

.players {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.player {
  text-align: center;
  background: #00703a;
  padding: 10px;
  border-radius: 10px;
  width: 120px;
}

.player img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: white;
}

.player p {
  margin: 5px 0;
}
